<p-dialog [visible]="true" [closable]="false" [draggable]="false">
  <form [formGroup]="form" (ngSubmit)="submitForm($event)">
    <label for="id">Employee ID</label>
    <input type="number" min="100" step="100" id="id" name="id" placeholder="Your ID.." formControlName="id">
  
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your last name.." formControlName="name">
  
    <label for="job">Job</label>
    <input type="text" id="job" name="job" placeholder="Your job.." formControlName="job">
  
    <div id="add_cancel_buttons">
      <p-button  type="submit"  onclick="window.location.href = '/employee'" styleClass="p-button-rounded p-button-success">
        <i class="pi pi-check"></i>
        &nbsp;SUBMIT
      </p-button>
      <p-button routerLink="/employees" styleClass="p-button-rounded p-button-danger">
        <i class="pi pi-times"></i>
        &nbsp;CANCEL
      </p-button>
    </div>
  </form>
  
</p-dialog>